<div class="header-superior">
    <div class="superiorIzq ">
        <img src="../../../assets/APLogo.png" alt="Argentina Programa" class="logoAP">
        <h1 class="h1-Ap">#YoProgramo</h1>
    </div>


    <div class="superiorDer">

        <a href="https://www.instagram.com/sainmarcos/" target="_BLANK">
            <img src="../../../assets/instagram.png" alt="Logo instagram" class="logoSocial" title="Instagram">
        </a>


        <a href="https://www.facebook.com/marcos.sain.9/" target="_BLANK">
            <img src="../../../assets/facebook.png" alt="Logo Facebook" class="logoSocial" title="Facebook">
        </a>
        
        
        <a href="https://www.linkedin.com/in/marcos-sain-168b83230/" target="_BLANK">
            <img src="../../../assets/linkedin.png" alt="Logo Linkedin" class="logoSocial" title="Linkedin">    
        </a>
        
        
        <a href="" id="Login" target="_BLANK">Iniciar sesión</a>
    </div>
</div>
<div class="banner">
    <img src="../../../assets/banner-portfolio.jpg" alt="Banner gustos" class="imgBanner">
</div>