<header class="header">
    <div class="header-superior">
        <div class="superiorIzq ">
            <img src="../../../assets/APLogo-negro.png" alt="Argentina Programa" title="Argentina Programa" class="logoAP">
            <h1 class="h1-Ap">#YoProgramo</h1>
        </div>
        <div class="superiorDer">
            
            <div class="redes">
                <a href="https://www.instagram.com/sainmarcos/" target="_BLANK">
                    <img src="../../../assets/instagram-celeste.png" alt="Logo instagram" class="logoSocial" title="Instagram">
                </a>
        
        
                <a href="https://www.facebook.com/marcos.sain.9/" target="_BLANK">
                    <img src="../../../assets/facebook-celeste.png" alt="Logo Facebook" class="logoSocial" title="Facebook">
                </a>
                
                
                <a href="https://www.linkedin.com/in/marcos-sain-168b83230/" target="_BLANK">
                    <img src="../../../assets/linkedin-celeste.png" alt="Logo Linkedin" class="logoSocial" title="Linkedin">    
                </a>
            </div>            
            
            <button type="button" class="boton" (click)="login()" *ngIf="!isLogged">Iniciar sesión</button>
            <button type="button" class="boton" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
            <!--<a href="/login" class="boton">Iniciar sesión</a>-->
        </div>
    </div>
    <div class="banner">
        <!-- <img src="../../../assets/banner portfolio 2.jpg" alt="Banner gustos" class="imgBanner"> -->
        <div class="texto-banner">
            <p class="hola-mundo">Hello World;</p>
            <p class="mi-nombre">I'm Marcos;</p>
        </div>
        <img src="../../../assets/programmer-banner.jpg" alt="Banner gustos" class="imgBanner">
    </div>
</header>