<div class="acercaDe">
    <div class="FotoInfo">
        <div class="fotoPerfil">
            <img src="../../../assets/FotoPerfil2.jpg" alt="Marcos Sain" title="Marcos Sain">
        </div>
        <h2 class="nombre"> {{persona.nombre}} {{persona.apellido}}</h2>
        <h3>Full Stack Developer Jr</h3>
    </div>
    <div class="acerca-de-texto">
        <p>Estudiante de Ingeniería en Informática. Mi principal objetivo es generar un crecimiento constante tanto profesional como de mis habilidades. Con capacidad para trabajar en equipo y de manera individual. Tengo iniciativa para la resolucion de conflictos o desafios que puedan presentarse. Responsable, puntual y proactivo. Ofrezo lo mejor de mis conocimientos y destrezas para desenvolverme laboralmente, acorde siempre a las pautas presentadas por la empresa.</p>
    </div>
</div>
