<div class="acercaDe">
    <div class="FotoInfo">
        <div class="fotoPerfil">
            <img src="../../../assets/FotoPerfil2.jpg" alt="Marcos Sain" title="Marcos Sain">
            <!-- <button class="btn btn-editar" *ngIf="isLogged" routerLink="/editPerfil/{{persona.id}}">🖊Editar</button> -->
            <button class="btn btn-editar" *ngIf="isLogged && isAdmin()" routerLink="/editPerfil/{{persona.id}}"> <i class="ri-pencil-line"></i> Editar </button>
        </div>
        <h2 class="nombre"> {{persona.nombre}} {{persona.apellido}}</h2>
        <h3 class="profesion">{{persona.tituloProf}}</h3>
    </div>
    <div class="acerca-de-texto">
        <p>{{persona.descripcion}}</p>
    </div>
</div>
