.acercaDe{
    /* background-color: #151515; */
    background-color: #000;
    display: flex;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fotoPerfil{
    position: relative;
    /* border: 1px solid red; */
}

.btn-editar{
    position: absolute;
    bottom: -5px;
    right: -35px;
}

.btn{
    background: transparent;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 5px;
    color: #777;
    font-size: 17px;
    font-weight: 700;
}

.btn:hover{
    cursor: pointer;
    background-color: #999;
    color: #151515;
}

.fotoPerfil img{
    height: 18em;
    width: 18em;
    border-radius: 9em;
    object-fit: cover;
    margin-left: 20px;
    margin-top: -70px;
    border: 2px solid #eee;
    z-index: 10;
}

.FotoInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-right: 20px;
}

.profesion, .nombre{
    text-align: center;
}

.profesion{
    font-weight: 400;
}

.acerca-de-texto{
    font-size: 20px;
    color: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .acercaDe{
        display: flex;
        flex-direction: column;
    }

    .acerca-de-texto{
        text-align: justify;
        font-size: 15px;
    }
}