*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: #151515;
    height: 100vh;
    width: 100vw;
    color: #fff;
    box-sizing: border-box;
}


.todo{
    border: 2px solid #999;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    /* width: 90%; */
}


.titulo{
    margin: 0px 0 20px 0;
    text-decoration: underline;
}


.formulario{
    /* border: 1px solid blue; */
    /* width: 90%; */
}

.campos{
    display: flex;
    /* border: 1px solid blue; */
}

.primeros{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 200px;
    /* border: 1px solid red; */
}

.primeros .campo{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    /* border: 1px solid red; */
}

.segundo{
    margin-left: 15px;
    /* border: 1px solid green; */
}

.segundo .campo{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid yellow; */
    height: 100%;
}

#descripcion{
    height: 100%;
    width: 300px;
    resize: none;
}

.campo label{
    margin-bottom: 7px;
}

.campo textarea, input{
    padding: 5px;
    background: transparent;
    border: 2px solid #999;
    color: #fff;
}

label{
    font-size: 1.2em;
}

.botones{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-agregar:first-child{
    margin-right: 20px;
}

.btn{
    background: transparent;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 10px;
    color: #777;
    font-size: 17px;
    font-weight: 700;
}

.btn:hover{
    cursor: pointer;
    background-color: #999;
    color: #151515;
}


@media (max-width: 600px) {
    .campos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .primeros{
        margin: 0;
    }

    .segundo{
        margin: 0;
        height: 200px;
        /* border: 1px solid red; */
    }
} 