<div class="container" *ngIf="expLab">
    <div class="todo">
        <h2 class="titulo">Experiencia laboral</h2>

        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="formulario">
            <div class="tituloE campo">
                <label for="nombreE">Titulo experiencia laboral.</label>
                <textarea name="nombreE" id="nombreE" autocomplete="none" [(ngModel)]="expLab.nombreE" required></textarea>
                <!-- <input type="text" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required> -->
            </div>

            <div class="descripcionE campo">
                <label for="descripcionE">Describe la experiencia laboral</label>
                <textarea name="descripcionE" id="descripcionE" autocomplete="none" [(ngModel)]="expLab.descripcionE" required></textarea>
                <!-- <input type="text" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required> -->
            </div>

            <div class="botones">
                <button type="submit" class="btn btn-agregar">Actualizar</button>
                <button type="button" class="btn btn-cancelar" routerLink="">Cancelar</button>
            </div>
        </form>
    </div>
</div>