<section class="sectionExp">
    <div class="encabezadoSeccion">
        <h2 class="titulo-section">Experiencias profesionales</h2>
        <button class="btnMas" id="btn-agregar-experiencia">+</button>
    </div>
    <div class="div-experiencia">
        <img src="../../../assets/APLogo.png" alt="Argentina Programa" class="logo-exp">
        <div class="experiencia-individual-texto">
            <h4>Programa: Argentina programa #YoProgramo</h4>
            <p>Diseño y programación de mi propio portfolio web utilizando todos mis conocimiento en programacion web.</p>
        </div>

        <!-- 
        <div class="franja-info-oculta">
            <div class="logo-franja-nuevo">
                <input type="file" name="foto" class="foto-agregar">
            </div>
            <div class="experiencia-individual-texto-nuevo">
                <div class="label-input">
                    <label >Titulo</label>
                    <input type="text" placeholder="Titulo">
                </div>
                <div class="label-input">
                    <label >Descripcion</label>
                    <input type="text" placeholder="Descripcion">
                </div>
                <div class="botones">
                    <button id="aceptar-exp">Aceptar</button>
                    <button id="cancelar-exp">Cancelar</button>
                </div>
            </div>
        </div>
         -->    
    </div>
</section>