.sectionExp{
    background-color: #151515;
    /* border-top: 1px solid #000; */
    padding: 10px 0;
    font-family: sans-serif;
}

.encabezadoSeccion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    color: #eee;
}

.btnMas{
    display: none;
    background: transparent;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;
    color: #777;
    font-size: 17px;
    font-weight: 700;
}

.btnMas:hover{
    cursor: pointer;
    background-color: #999;
    color: #151515;
}


.div-experiencia{
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 2px solid #777;
}

.logo-exp{
    width: 25%;
    margin: 0 20px 0 10px;
}

.experiencia-individual-texto{
    color: #777;
}

@media (max-width: 600px){
    .div-experiencia{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experiencia-individual-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        /* border: 1px solid red; */
        text-align: center;
        margin-bottom: 5px;
    }
}