.container{
    background-color: #151515;
    height: 100vh;
    width: 100vw;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo{
    border: 2px solid #999;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.titulo{
    margin: 10px 0 30px 0;
    text-decoration: underline;
}

.formulario{
    /* border: 1px solid blue; */
    width: 90%;
}

.campo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.campo:first-child{
    margin-bottom: 20px;
}

.campo label{
    margin-bottom: 10px;
    font-size: larger;
}

.campo textarea{
    /* height: 300px; */
    resize: none;
    background: transparent;
    border: 2px solid #999;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#descripcionE{
    height: 100px;
}


.botones{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-agregar{
    margin-bottom: 10px;
}

.btn{
    background: transparent;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 10px;
    color: #777;
    font-size: 17px;
    font-weight: 700;
}

.btn:hover{
    cursor: pointer;
    background-color: #999;
    color: #151515;
}