<div class="container" *ngIf="habilidad">
    <div class="todo">
        <h2 class="titulo">Editar habilidad</h2>

        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="formulario">
            <div class="tituloE campo">
                <label for="nombreH">Nombre de la habilidad</label>
                <!-- <textarea name="nombreH" id="nombreH" autocomplete="none" [(ngModel)]="habilidad.nombreH" required></textarea> -->
                <input type="text" id="nombreH" name="nombreH" [(ngModel)]="habilidad.nombreH" required>
            </div>

            <div class="descripcionE campo">
                <label for="porcentajeH">Porcentaje de conocimiento de la habilidad</label>
                <!-- <textarea name="porcentajeH" id="porcentajeH" autocomplete="none" [(ngModel)]="habilidad.porcentajeH" required></textarea> -->
                <div class="input-porcentaje">
                    <input type="number" id="porcentajeH" name="porcentajeH" [(ngModel)]="habilidad.porcentajeH" required>
                    <p>%</p>
                </div>
            </div>

            <div class="botones">
                <button type="submit" class="btn btn-agregar">Actualizar</button>
                <button type="button" class="btn btn-cancelar" routerLink="">Cancelar</button>
            </div>
        </form>
    </div>
</div>