*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-image: linear-gradient(to bottom,#184362,#DEEDF7);
    height: 100vh;
    width: 100vw;
}


.todo{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    height: 500px;
    width: 300px;
}


.titulo{
    margin: 0px 0 20px 0;
    font-size: 2em;
    /* text-decoration: underline; */
    cursor: context-menu;
}

form{
    /* border: 1px solid red; */
    width: 100%;
}

.campo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.campo:first-child{
    margin-bottom: 20px;
}

.campo label{
    margin-bottom: 10px;
    font-size: larger;
}

.campo textarea{
    padding: 5px;
    background: transparent;
    border: 2px solid #184362;
    color: #000;
    font-weight: 500;
    resize: none;
}

.campo input{
    border: none;
    border-bottom: 2px solid #184362;
    background: transparent;
    margin-bottom: 10px;
    outline: none;
    color: #000;
    font-weight: 500;
    font-size: medium;
    padding-left: 5px;
}

#porcentajeH{
    width: 15%;
    text-align: right;
    padding-right: 5px;
}

.input-porcentaje{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.botones{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-agregar{
    margin-right: 10px;
}

.btn{
    background: transparent;
    border: 2px solid #184362;
    border-radius: 5px;
    padding: 10px;
    color: #184362;
    font-size: 17px;
    font-weight: 700;
}

.btn:hover{
    cursor: pointer;
    background-color: #184362;
    color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}