.habilidades{
    background-color: #151515;
    font-family: sans-serif;
}

.titulo{
    color: #eee;
    margin-left: 20px;
}

.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.grafico{
    cursor: context-menu;
}

@media (max-width: 500px){
    .grilla{
        grid-template-columns: 1fr 1fr;
    }
}

