<div class="habilidades">
    <h2 class="titulo">
        Habilidades
    </h2>
    <div class="grilla">
        <circle-progress
            [percent]="85"
            [radius]="60"
            [title]="'HTML'"
            [showTitle]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [titleColor]="'#eee'"
            [outerStrokeColor]="'#777'"
            [innerStrokeColor]="'#eee'"
            [animation]="true"
            [animationDuration]="300"
            class="grafico"
        ></circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="60"
        [title]="'CSS'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [titleColor]="'#eee'"
        [outerStrokeColor]="'#777'"
        [innerStrokeColor]="'#eee'"
        [animation]="true"
        [animationDuration]="300"
        class="grafico"
        ></circle-progress>
        <circle-progress
    [percent]="85"
    [radius]="60"
    [title]="'JavaScript'"
    [showTitle]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [titleColor]="'#eee'"
    [outerStrokeColor]="'#777'"
    [innerStrokeColor]="'#eee'"
    [animation]="true"
    [animationDuration]="300"
    class="grafico"
        ></circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="60"
        [title]="'Java'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [titleColor]="'#eee'"
        [outerStrokeColor]="'#777'"
        [innerStrokeColor]="'#eee'"
        [animation]="true"
        [animationDuration]="300"
        class="grafico"
        ></circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="60"
        [title]="'MySql'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [titleColor]="'#eee'"
        [outerStrokeColor]="'#777'"
        [innerStrokeColor]="'#eee'"
        [animation]="true"
        [animationDuration]="300"
        class="grafico"
        ></circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="60"
        [title]="'C++'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [titleColor]="'#eee'"
        [outerStrokeColor]="'#777'"
        [innerStrokeColor]="'#eee'"
        [animation]="true"
        [animationDuration]="300"
        class="grafico"
        ></circle-progress>
    </div>
</div>