.habilidades{
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    color: rgb(219, 101, 55);
    font-size: larger;
    /* border: 1px solid red; */
}

.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.grafico{
    cursor: context-menu;
}

@media (max-width: 500px){
    .grilla{
        grid-template-columns: 1fr 1fr;
    }
}

