*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fondo{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom,#184362,#DEEDF7);
} 

.login{
    border: 1px solid #000;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto{
    cursor: context-menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.texto h2{
    color: #000;
    font-size: 40px;
}

.texto p{
    color: #616161;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;    
    /* border: 1px solid green; */
    
}

.campoNombre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campoNombre p{
    color: #000;
    font-weight: 600;
    cursor: context-menu;
}

.mail{
    margin-bottom: 20px;
}

.campo{
    width: 120%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #184362;
    /* background: linear-gradient(to top, #ccc, transparent);fondo de los input en degrade */
    background: transparent;
    /* outline: none;Le saco el borde q se le pone cuando selecciono el campo para escribir */
    margin-bottom: 10px;
    outline: none;
    color: #000;
    font-weight: 600;
    font-size: medium;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.boton{
    background: transparent;
    border: 2px solid #184362;
    border-radius: 5px;
    padding: 10px;
    color: #184362;
    font-size: 17px;
    font-weight: 700;
}

.boton:hover{
    cursor: pointer;
    background-color: #184362;
    color: #fff;
}

.boton:first-child{
    margin-bottom: 10px;
}

.botones p{
    margin-top: 15px;
    color: #777;
}

.botones a{
    font-weight: 700;
    text-decoration: none;
}

.botones a:visited{
    color: #aaa;
}

.botones a:hover{
    text-decoration: underline;
}

@media (max-width: 600px){
    .texto h2{
        font-size: 30px;
    }

    .texto p{
        font-size: 15px;
    }

    /* .login{
        border: none;
    } */
}