<section class="fondo">
    <div class="login">
        <div class="texto">
            <h2>Iniciar sesion</h2>
            <p>Ingrese mail y contraseña</p>
        </div>

        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

            <div class="inputs">
                <div class="campoNombre mail">
                    <!-- <label for="mail">Mail</label> -->
                    <input type="text" name="nombreUsuario" id="nombreUsuario" class="campo" [(ngModel)]="nombreUsuario" required>
                    <p class="titulo">Usuario</p>
                </div>

                <div class="campoNombre">
                    <!-- <label for="contraseña">Contraseña</label> -->
                    <input type="password" name="password" id="password" class="campo" [(ngModel)]="password" required>
                    <p class="titulo">Contraseña</p>
                </div>
            </div>

            <div class="botones">
                <button class="boton" type="submit">Iniciar sesion</button>
                <button class="boton" (click)="salir()">Salir</button>
                <!-- <p>No tenes cuenta? <a href="">Crear cuenta</a></p> -->
            </div>

        </form>

    </div>
</section>