<section class="fondo">
    <div class="login">
        <div class="texto">
            <h2>Iniciar sesion</h2>
            <p>Ingrese mail y contraseña</p>
        </div>
        
        <div class="inputs">
            <div class="campoNombre mail">
                <!-- <label for="mail">Mail</label> -->
                <input type="mail" class="campo">
                <p class="titulo">Mail</p>
            </div>
            
            <div class="campoNombre">
                <!-- <label for="contraseña">Contraseña</label> -->
                <input type="mail" class="campo">
                <p class="titulo">Contraseña</p>
            </div>
        </div>

        <div class="botones">
            <button class="boton">Iniciar sesion</button>
            <button class="boton" (click)="login()">Salir</button>
            <!-- <p>No tenes cuenta? <a href="">Crear cuenta</a></p> -->
        </div>
    </div>
</section>