<section class="sectionEdu">
    <div class="encabezadoSeccion">
        <h2 class="titulo-section">Educacion</h2>
        <button class="btnMas" id="btn-agregar-educacion">+</button>
    </div>
    <div class="div-educacion">
        <img src="../../../assets/fich-unl.jpg" alt="fich-unl" class="logo-edu">
        <div class="educacion-individual-texto">
            <h4>Ingenieria en Informatica - UNL (En curso)</h4>
            <p>Actualmente estudiando Ing en informatica en la Universidad Nacional del Litoral, en la Facultad de Ingenieria y Ciencias Hidricas.</p>
        </div>

        <!-- 
        <div class="franja-info-oculta">
            <div class="logo-franja-nuevo">
                <input type="file" name="foto" class="foto-agregar">
            </div>
            <div class="experiencia-individual-texto-nuevo">
                <div class="label-input">
                    <label >Titulo</label>
                    <input type="text" placeholder="Titulo">
                </div>
                <div class="label-input">
                    <label >Descripcion</label>
                    <input type="text" placeholder="Descripcion">
                </div>
                <div class="botones">
                    <button id="aceptar-exp">Aceptar</button>
                    <button id="cancelar-exp">Cancelar</button>
                </div>
            </div>
        </div>
         -->    
    </div>
</section>