<section class="sectionEdu">
    <div class="encabezadoSeccion">
        <h2 class="titulo-section">Educacion</h2>
        <button class="btn" id=" btn btn-agregar-experiencia" routerLink="/nuevaEdu" *ngIf="isLogged">Agregar</button>
    </div>
    <!-- <div class="tarjetas">
        <div *ngFor="let Educacion of educacion" class="tarjeta">
            <h2 class="tituloExpe">{{Educacion.nombreE}}</h2>
            <p class="descripcionExpe">{{Educacion.descripcionE}}</p>
            <div class="botones-terjeta">
                <button *ngIf="isLogged" class="btn btn-tarjeta" routerLink="/editExp/{{Educacion.id}}"> 🖊Editar </button>
                <button *ngIf="isLogged" class="btn btn-tarjeta" (click)="delete(Educacion.id)"> 🗑Borrar </button>
            </div>
        </div>
    </div> -->

    <div class="tarjetas2">
        <div class="tarjeta2" *ngFor="let Educacion of educacion">
            <div class="texto">
                <h2 class="titulo2">{{Educacion.nombreE}}</h2>
                <!-- <h2 class="titulo2">{{Educacion.nombreE}}</h2> -->
                <p class="descripcion2">{{Educacion.descripcionE}}</p>
            </div>
            <div class="botones2">
                <button *ngIf="isLogged" class="btn btn-tarjeta2" routerLink="/editEdu/{{Educacion.id}}"> 🖊Editar </button>
                <button *ngIf="isLogged" class="btn btn-tarjeta2" (click)="delete(Educacion.id)"> 🗑Borrar </button>
            </div>
        </div>
    </div>
</section>