.proyectos{
    background-color: #151515;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.encabezado{
    color: #eee;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proyecto{
    border: 2px solid #777;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.tituloProyecto{
    color: #eee;
    font-size: 22px;
    /* font-weight: 1000; */
    /* margin: 5px 0; */
}

.subTituloProyecto{
    color: #777;
    font-size: 18px;
    /* font-weight: 800; */
    margin: 0;
    margin-bottom: 5px;
}

.descripcionProyecto{
    color: #777;
    text-align: justify;
}

.btnMas{
    display: none;
    background: transparent;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;
    color: #777;
    font-size: 17px;
    font-weight: 700;
}

.btnMas:hover{
    cursor: pointer;
    background-color: #999;
    color: #151515;
}