.proyectos{
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px 0 20px;
    color: rgb(219, 101, 55);
    font-size: larger;
}


.btn{
    background: transparent;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 5px;
    color: #777;
    font-size: 17px;
    font-weight: 700;
}

.btn:hover{
    cursor: pointer;
    background-color: #999;
    color: #151515;
}

.tarjeta2{
    margin: 10px 20px;
    color: #fff;
    /* border: 2px solid #777; */
    border-bottom: 2px solid #777;
    /* background: linear-gradient(to top, #222, transparent); */
    /* border-radius: 5px; */
    padding: 10px 10px 20px 10px;
    display: flex;
}

.texto{
    width: 90%;
    /* border: 1px solid red; */
}

.titulo2{
    margin-bottom: 10px;
}

.botones2{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* border: 1px solid green; */
}

.btn-tarjeta2:first-child{
    margin-bottom: 10px;
}