<div class="proyectos">
    <div class="encabezado">
        <h2 class="titulo">Proyectos</h2>
        <button class="btnMas" id="btn-agregar-experiencia">+</button>
    </div>
    <div class="proyecto">
        <h3 class="tituloProyecto">Portfolio Web</h3>
        <h4 class="subTituloProyecto">Creacion de mi propio portfolio</h4>
        <p class="descripcionProyecto">
            Utilizando herramientas de programacion web tales como HTML, CSS y JavaScript para el FrontEnd y Java y MySql para el BackEnd cree este portfolio Web como proyecto del programa "Argentina Programa" #YoProgramo siendome útil a la hora de mostrar mi experiencia y educacion en la programación
        </p>
    </div>
</div>